<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_wish.css' %}">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png'%}" width="150px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/wishes"> <span class="sr-only">(current)</span>View All Wishes</a>
                </li>

                {% if request.session.user_id %}
                  <li class="nav-item">
                  <a class="nav-link" href="/users/{{request.session.user_id}}/dashboard">User Dashboard</a>
                  </li>
                  <li class="nav-item">
                      <div class="nav-link bold red">
                        Welcome {{request.session.first_name}}!
                      </div>
                  </li>
                  <li class="nav-item ">
                    </li>
                  <a href="/users/logout"><button class="btn btn-warning inline mr-20">Logout</button></a>
                  <a href="/wishes/stat"><button class="btn btn-secondary inline mr-20">View Stat</button></a>
                  <a href="/wishes/add"><button class="btn btn-primary inline">Make a Wish</button></a>
                {% else %}
                  <li class="nav-item">
                    <div class="nav-link bold red" >
                      Welcome Guest! Please sign in the make a wish!
                    </div>
                  </li>
                  <a href="/users"><button class="btn btn-primary inline">Register / Login</button></a>
                {% endif %}
              </ul>
            </div>
          </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>