<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Profile</title>
</head>
<body>
    <div class="container">
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        <div class="col-sm-12 mt-20" >
            <h2>Edit Profile</h2>
            {% if messages %}
            <ul class="messages bold">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/users/profile/update" method="post" class="clearfix">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name" class="control-label">First Name</label>
                    <input type="text" class="form-control inline" name="first_name" value="{{user.first_name}}">
                </div>
                <div class="form-group">
                    <label for="last_name" class="control-label">Last Name</label>
                    <input type="text" class="form-control inline" name="last_name" value="{{user.last_name}}">
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="text" class="form-control inline" name="email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label for="birthday" class="control-label">Date of Birth:</label>
                    <input type="date" class="form-control inline" name="birthday" value="{{user.birthday|date:'Y-m-d'}}">
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control inline" name="password" placeholder="Enter new password to update">
                </div>
                <div class="form-group">
                    <label for="confirmed_password" class="control-label">Confirmed Password</label>
                    <input type="password" class="form-control inline" name="confirmed_password">
                </div>
                <input type="hidden" name='user_id' value="{{user.id}}">
                <button class="btn btn-success ml40 float-right" type="submit">Update</button>
            </form>

        </div>
        <div class="col-sm-12">
            <h2>Edit Description:</h2>
            <form action="/users/description" method="post" class="clearfix">
                {% csrf_token %}
            <textarea name="description" rows="2" class="form-control w100">{{user.description}}</textarea>
            <button class="btn btn-primary float-right mt-20" type="submit">Save</button>
            </form>
        </div>
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
    </div>
</body>
</html>