<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
</head>
<body>
    <div class="container">
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}
        <div class="mb-20"></div>
        <div class="col-sm-12">
            <h2>Your wish list:</h2>
            <div class="mb-20"></div>
            {% if messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="messages bold">
                    {% for message in messages %}
                        <li>*** {{message}} ***</li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
            <hr>
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for wish in wish_list %}
                        {% if request.session.user_id == wish.wisher.id %}
                        {% if wish.is_granted == 0 %}
                        <tr>
                            <th scope="row">{{wish.item}}</th>
                            <td>{{wish.created_at|date:'F d, Y'}}</td>
                            <td>
                                <form action="/wishes/edit" method="post" class="inline mr-10">
                                    {% csrf_token %}
                                    <input type="hidden" name="wish_id" value="{{wish.id}}">
                                    <button class="btn btn-secondary">Edit</button>
                                </form>
                                <form action="/wishes/destroy" method="post" class="inline mr-10" onsubmit="return confirm('Are you sure you want to delete this wish?')" >
                                    {% csrf_token %}
                                    <input type="hidden" name="wish_id" value="{{wish.id}}">
                                    <button class="btn btn-warning">Remove</button>
                                </form>
                                <form action="/wishes/granted" method="post" class="inline mr-10" >
                                    {% csrf_token %}
                                    <input type="hidden" name="wish_id" value="{{wish.id}}">
                                    <button class="btn btn-success">Granted</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <hr>
        <div class="col-sm-12">
            <h2>Granted wishes:</h2>
            <div class="mb-20"></div>
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Wisher</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Date Granted</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for wish in wish_list %}
                        {% if wish.is_granted == 1 %}
                        <tr>
                            <th scope="row">{{wish.item}}</th>
                            <td><a href="/users/{{wish.wisher.id}}/dashboard">{{wish.wisher.first_name}} {{wish.wisher.last_name}}</a></td>
                            <td>{{wish.created_at|date:'F d, Y'}}</td>
                            <td>{{wish.updated_at|date:'F d, Y'}}</td>
                            <td>{{wish.likers.count}}</td>
                            <td>
                                {% if wish not in user.wishes_liked.all %}
                                    {% if user.id != wish.wisher_id %}
                                    <form action="/wishes/like" method="post" class="inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="wish_id" value="{{wish.id}}">
                                        <button class="btn-sm btn-primary mr-10" type="submit">Like</button>
                                    </form>
                                    {% endif %}
                                {% else %}
                                <form action="/wishes/unlike" method="post" class="inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="wish_id" value="{{wish.id}}">
                                    <button class="btn-sm btn-primary mr-10" type="submit">Unlike</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
    </div>
</body>
</html>